@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  background-color: #F0FFF2; /* soft-white fallback */
  color: #064B59; /* deep-teal fallback */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #043943;
}

::-webkit-scrollbar-thumb {
  background: #064B59;
  border: 1px solid #E6FF2B;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E6FF2B;
}